/********************************
360px:   Small Mobile
767px:   Mobile
1023px:  Ipad
1280px:  Ipad Pro
823px:   Mobile Landscape
1024px:  Ipad Landscape
********************************/

@media(max-width: 360px)  {
/*============================================================================================*/
/* Header
/*============================================================================================*/
#header {
    padding: 28vh 0 0 0;
    background-position: bottom;
}
#header h2 {
    font-size: 2.5rem;
}    
#header img {
    width: 80px;
}
.atras {
    width: 120px;
}
.siguientes {
    width: 120px;
}
.formulario {
    margin-bottom: 0px;
}
#paso {
    margin-top: 40px;
}

/*============================================================================================*/
/* Restablecer password
/*============================================================================================*/
#passw {
    width: 100%;
    margin: 0;
}
#passw .box_form {
    padding: 20px 20px 0 20px;
}
#reset button {
    padding: 9px 50px;
}

/*============================================================================================*/
/* Cambio password
/*============================================================================================*/
#password button {
    padding: 9px 50px;
}
}

@media (min-width: 361px) and (max-width: 767px) {
/*============================================================================================*/
/* Header
/*============================================================================================*/
#header {
    background-position: bottom;
    padding: 30vh 0 0 0;
}
#header h2 {
    font-size: 3rem;
}
#header a {
    font-size: 40px;
}
#header img {
    width: 90px
}

/*============================================================================================*/
/* Formulario
/*============================================================================================*/
#registro {
    padding-top: 50px;
    padding-bottom: 60px;
}
.contrasena {
    right: 9px;
    left: auto;
    top: 9px;
    font-size: 16px;
}
.siguientes {
    width: 40%;
}
.atras {
    width: 40%;
}

/*============================================================================================*/
/* Login
/*============================================================================================*/
.box_login {
    width: 100%;
    border-right: 0;
    padding-bottom: 10px;
}
#login button {
    padding: 10px 35px;
}

/*============================================================================================*/
/* Pasos User
/*============================================================================================*/
.formulario {
    margin-bottom: 0px;
}
#paso{
    margin-top: 40px;
}

/*============================================================================================*/
/* Restablecer password
/*============================================================================================*/
#passw {
    width: 100%;
    margin: 0;
}
#passw .box_form {
    padding: 20px 20px 0 20px;
}
#reset button {
    padding: 9px 60px;
}

/*============================================================================================*/
/* Cambio password
/*============================================================================================*/
#password button {
    padding: 9px 50px;
}
}

@media (max-width: 823px) and (orientation: landscape) {
/*============================================================================================*/
/* Header
/*============================================================================================*/
#header {
    background-position: bottom;
    padding: 25vh 0 0 0;
}
#header h2 {
    font-size: 2.7rem;
}
}


@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
/*============================================================================================*/
/* Html
/*============================================================================================*/    
textarea{
    width: 100%;
}

/*============================================================================================*/
/* Header
/*============================================================================================*/
#header{
    padding: 34vh 0 0 0;
}

/*============================================================================================*/
/* Pasos User
/*============================================================================================*/
.formulario {
    margin-bottom: 0px;
}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
/*============================================================================================*/
/* Formulario
/*============================================================================================*/
.tamano {
    width: 48% !important;
}

/*============================================================================================*/
/* Pasos User
/*============================================================================================*/
.formulario {
    margin-bottom: 0px;
}

/*============================================================================================*/
/* Header
/*============================================================================================*/
#header{
    padding: 35vh 0 0 0;
}
#header h2 {
    font-size: 3.7rem;
}
}

@media (min-width: 1024px) and (max-width: 1280px) and (orientation: portrait) {
/*============================================================================================*/
/* Formulario
/*============================================================================================*/
.tamano {
    width: 48% !important;
}

/*============================================================================================*/
/* Header
/*============================================================================================*/
#header {
    padding: 40vh 0 0 0;
}
#header h2 {
    font-size: 4rem;
}
#header .registrar {
    font-size: 0.9rem;
}

/*============================================================================================*/
/* Pasos User
/*============================================================================================*/
.formulario {
    margin-bottom: 0px;
}
}
