@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/*============================================================================================*/
/* Html
/*============================================================================================*/
body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}
.form-control {
    font-size: 0.9rem;
}
a {
    text-decoration: none !important;
}
.container2{
    max-width: 1160px;
}

/*============================================================================================*/
/* Header
/*============================================================================================*/
#header {
    background-image: url(../img/fondo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 35vh 0 0 0;
    height: 100vh;
}
#header::before {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
}
#header h2 {
    text-align: center;
    font-size: 4rem;
    color: #efc03c;
    margin-bottom: 0;
    font-weight: 900;
}
#header img {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 100px;
}
#header hr {
    width: 290px;
    border-top: 8px solid #f6f4f5;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#header .registrar {
    background: #3b3f76;
    border-radius: 10px;
    color: #fff;
    width: 220px;
    font-size: 0.8rem;
    padding: 13px;
    animation: parpadeo 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
        infinite alternate;
}
#header .registrar:hover {
    background: #3b3f86;
    filter: grayscale(0);
}
@keyframes parpadeo {
    0% {
        box-shadow: 0 0 20px 0 rgb(239 192 60 / 40%);
    }
    50% {
        box-shadow: 0 0 20px 0 rgb(255 255 255 / 30%);
    }
    100% {
        box-shadow: 0 0 20px 0 rgb(239 169 203 / 40%);
    }
}
.nombre{
    color: #fff;
    font-size: .8rem;
    position: absolute;
    top: 0;
    z-index: 999;
    background: #403B7C;
    padding: 8px;
    border-radius: 2px;
    opacity: .7 !important;
}

/*============================================================================================*/
/* Footer
/*============================================================================================*/
#footer {
    background: #1a1831;
    padding: 20px 0 20px;
}
#footer ul {
    padding: 0;
    text-align: center;
    margin-bottom: 0;
}
#footer ul li {
    display: inline-block;
    list-style: none;
}
#footer ul li a {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #525164;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
    margin: 0 5px;
    transition: all 0.9s;
}
#footer ul li a:hover {
    background: #e7015e;
    border-color: #e7015e;
    transform: rotate(360deg);
}
#footer p {
    margin-bottom: 0;
    color: #a8a8ad;
    text-align: center;
    font-size: 14px;
}
#footer a {
    color: #e7015e;
}

/*============================================================================================*/
/* Formulario
/*============================================================================================*/
#registro {
    background-image: url("../img/main.png");
    padding-top: 60px;
    padding-bottom: 70px;
    position: relative;
}
#registro h1 {
    font-size: 2.1rem;
    font-weight: 900;
    color: #34b7fa;
    margin-bottom: 10px;
    text-align: center;
}
#registro h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}
#registro img.shap1 {
    position: absolute;
    left: 0;
    top: 15%;
    z-index: -1;
}
#registro img.shap2 {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: -1;
}
#registro img.shap3 {
    position: absolute;
    bottom: 0%;
    z-index: -1;
}
#registro p {
    border-bottom: solid;
    width: 200px;
}
.posicion {
    position: relative;
}
.sinborder {
    border: none !important;
    width: auto !important;
}
.titulo {
    margin-bottom: 0rem;
}
.subtitulo {
    font-size: 10px;
    margin-bottom: 1rem;
}
.box_grafica {
    background-color: #fff;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    margin-bottom: 28px;
    margin-top: 28px;
    color: #777;
    font-size: 0.875rem;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
}
.box_grafica {
    background-color: #fff;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    margin-bottom: 28px;
    margin-top: 28px;
    color: #777;
    font-size: 0.875rem;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
}
.box_general {
    background-color: #fff;
    padding: 25px 30px 15px 30px;
    min-height: 140px;
    border-radius: 10px;
    margin-bottom: 30px;
    color: #777;
    font-size: 0.875rem;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
}
.margen {
    margin-bottom: 2px;
}
.siguiente {
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1rem;
    background: #0069d9;
    color: #fff;
    width: 100%;
    border: none;
    padding: 10px;
}
.siguiente:hover {
    background: #007bff;
    border-color: #fff;
}
.atras {
    background: #a51b0b;
    color: #fff;
    border: none;
    width: 15%;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}
.atras:hover {
    background: #d11507;
}
.siguientes {
    background: #0069d9;
    color: #fff;
    border: none;
    width: 15%;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}
.siguientes:hover {
    background: #007bff;
}

/*============================================================================================*/
/* Login
/*============================================================================================*/
#login {
    padding-right: 0px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}
#login button {
    background-color: #d41476;
    border: none;
    color: #fff;
    padding: 7px 30px;
    display: inline-block;
    border-radius: 5px;
    font-size: 0.87rem;
    transition: all 0.9s;
}
#login button:hover {
    background-color: #d41466;
}
#login input:focus {
    border-color: #d41476 !important;
    box-shadow: 0 0 0 0.2rem rgba(212, 20, 118, 0.25) !important;
}
#login a {
    font-size: 0.65rem;
    color: #000;
}
#login a:hover {
    color: #d41476;
}
#login img {
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
        alternate;
}
.modal-open {
    padding-right: 0px !important;
}
.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.modal-content {
    border: 0px !important;
}
.modal-notify .modal-content {
    border-radius: 10px;
}
.box_login {
    width: 50%;
    float: left;
    border-right: 1px solid #e1e8ed;
    padding: 15px 20px;
}
.box_login.last {
    border-right: 0;
}
@keyframes bop {
    0% {
        transform: scale(0.9);
    }
    50%,
    100% {
        transform: scale(1);
    }
}

/*============================================================================================*/
/* Select2
/*============================================================================================*/
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 20px !important;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: #888888 !important;
    line-height: 34px !important;
    font-size: 0.9rem !important;
    text-align: center;
}
.select2-container .select2-selection--single {
    height: 36px !important;
}
.select2-container--default
    .select2-results__option--highlighted[aria-selected] {
    background-color: #1b9fdc !important;
    color: white;
    font-size: 0.9rem !important;
}
.select2-results__option {
    font-size: 0.9rem !important;
}
.select2-container {
    width: 100% !important;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 30px !important;
    right: 10px !important;
}

/*============================================================================================*/
/* Botones Radio
/*============================================================================================*/
input[type="radio"] + label {
    width: 100%;
    padding: 1em;
    line-height: 0.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    transition: all 0.35s ease-in-out;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    display: inline-;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
input[type="radio"]:checked + label,
input:checked,
select:focus,
select:active {
    background-color: #1b9fdc;
    color: #fff;
    border-color: #1b9fdc;
}
.tamano {
    width: 49% !important;
}
.swal2-styled.swal2-confirm {
    width: 50% !important;
    padding: 9px !important;
}
.contrasena {
    color: #777;
    position: absolute;
    right: 15px;
    top: 9px;
    font-size: 16px;
    z-index: 999;
    cursor: pointer;
}

/*============================================================================================*/
/* Pasos User
/*============================================================================================*/
#pasos img {
    width: 30px;
    padding-bottom: 10px;
    margin-top: 20px;
}
#pasos p {
    border: none;
    font-size: 0.886rem;
    width: auto;
    color: #888888;
    margin-top: 10px;
}
#pasos p a {
    color: #e7015e;
}
.form_title h3 strong {
    background-color: #d41476;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 42px;
    text-align: center;
    position: absolute;
    left: 0;
    top: -5px;
}
.form_title {
    position: relative;
    padding-left: 55px;
    margin-bottom: 10px;
}
.form_title h3 {
    margin: 0;
    padding: 0;
    font-size: 1.3125rem;
}
.separador {
    width: 80px !important;
    padding-bottom: 10px !important;
}
hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.formulario {
    margin-bottom: 40px;
}
.denuncias {
    color: #fff;
    padding: 10px;
    margin-top: 40px;
    border-radius: 10px;
    font-size: 1rem;
    background: #0069d9;
    font-weight: bold;
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
}
.denuncias:hover {
    background: #007bff;
    color: #fff;
}
.contenido {
    margin-top: 20px;
}

/*============================================================================================*/
/* Denuncias User
/*============================================================================================*/
.min {
    min-height: 105px !important;
}
.largo {
    height: 80px !important;
}
.acta {
    width: 90px !important;
}
.denuncia{
    width: 90px !important;
}
.bottoms{
    margin-bottom: 10px;
}

/*============================================================================================*/
/* Restablecer password
/*============================================================================================*/
#passw {
    width: 650px;
    border-radius: 10px;
    margin: 20px auto;
    background: #fff;
    height: 100%;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 30%);
}
#passw .box_form {
    padding: 30px 0 20px 0;
}
#reset {
    background-image: url(../img/main.png);
    padding-top: 27vh;
    padding-bottom: 27vh;
    position: relative;
}
#reset img.shap1 {
    position: absolute;
    left: 0;
    top: 15%;
    z-index: -1;
}
#reset img.shap2 {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: -1;
}
#reset img.shap3 {
    position: absolute;
    bottom: 0%;
    z-index: -1;
}
#reset button{
    background-color: #d41476;
    border: none;
    color: #fff;
    padding: 8px 40px;
    display: inline-block;
    border-radius: 5px;
    font-size: 0.87rem;
    transition: all 0.9s;
}
#reset button:hover {
    background-color: #d41466;
}

/*============================================================================================*/
/* Cambio password
/*============================================================================================*/
#password {
    background-image: url(../img/main.png);
    padding-top: 21.4vh;
    padding-bottom: 21vh;
    position: relative;
}
#password img.shap1 {
    position: absolute;
    left: 0;
    top: 15%;
    z-index: -1;
}
#password img.shap2 {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: -1;
}
#password img.shap3 {
    position: absolute;
    bottom: 0%;
    z-index: -1;
}
#password button{
    background-color: #d41476;
    border: none;
    color: #fff;
    padding: 8px 40px;
    display: inline-block;
    border-radius: 5px;
    font-size: 0.87rem;
    transition: all 0.9s;
}
#password button:hover {
    background-color: #d41466;
}